{% extends "base.html" %}
{% block content %}
  <form action="" method=post >
    <h2>Sign up</h2>
          <input type="text" id="username" name="username" placeholder="Enter Username" value="{{ request.form.username }}"required>
          <input type="password" id="password" name="password" placeholder="Enter Password" value="{{ request.form.password }}"required>
          <input type="email" id="email" name="email" placeholder="Enter Email" value="{{ request.form.username }}"required>
          <button type="submit">Signup</button>
  </form>
{% endblock %}
